absl-py==2.1.0 
apispec==6.8.1
apispec-webframeworks==1.2.0
cuda-python==12.8.0
cupy-cuda12x==13.3.0
flake8==7.1.1
flask==3.1.0
flask_limiter==3.10.1
fontTools==4.55.8
h5py==3.12.1
hydra-core==1.3.2
marshmallow==3.26.1
marshmallow-enum==1.5.1
matplotlib==3.10.0
mpi4py==4.0.2
natsort==8.4.0
--extra-index-url https://pypi.nvidia.com
nvidia-eff==0.6.6
nvidia-eff-tao-encryption==0.1.9
nvidia-pyindex==1.0.9
onnx==1.17.0
onnxruntime==1.20.1
opencv-python==4.11.0.86
pipreqs==0.5.0
pyarmor==8.5.8  # 8.5.8 is version nvidia-eff wheels use
pyclipper==1.3.0.post6
pycocotools==2.0.8
pydocstyle==6.3.0
pyflakes==3.2.0
PyInstaller==6.11.1
pylint==3.3.4
pyrr==0.10.3
pytest==8.3.4
scipy==1.15.1
scikit-image==0.25.1
scikit-learn==1.6.1
seaborn==0.13.2
shapely==2.0.7
git+https://github.com/cocodataset/panopticapi.git